{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My site</title>
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <!-- style.css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Header section -->
<header id="header">
    <div class="fixed text-center">
        <img src="/media/{{ about.image_me }}" class="img-fluid rounded-circle" alt="">
        <h3 class="pb-4 bt-2 fs-2 text-white">Erali Abdinazarov</h3>
    </div>
</header>
<!-- Header section end-->

<!-- Main section -->
<main>
    <div class="container-fluid">
        <div class="offset-md-4 col px-5">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                 aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-dark" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail</li>
                </ol>
            </nav>

            <div class="card mb-3">
                <img src="/media/{{ work.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="" href="{{ work.link }}"><h5 class="py-2 btn-link Roboto text-dark">{{ work.title }}</h5>
                    </a>
                    <p class="text-secondary">{{ work.body }}</p>
                    <strong><p class="text-dark">{{ work.created }}</p></strong>
                </div>
            </div>
            <h4 class="mt-5 fs-2 Roboto text-dark px-1">Izohlar</h4>
            {% for comment in comments %}
                <div class="card">
                    <div class="card-body">
                        <strong><p class="text-dark">{{ comment.name }} | {{ comment.created }}</p></strong>
                        <p class="Lato text-secondary">{{ comment.comment }}</p>
                    </div>
                </div>
                <br>
            {% endfor %}

            <!-- Contact section -->
            <div class="row">
                <div class="col">
                    <h5 class="Roboto text-dark Lato w-75 pb-2 mt-5">Izoh yozish</h5>
                    <div class="row">
                        <div class="col-md-8">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <input type="text" required class="form-control" name="name"
                                               placeholder="Ism">
                                    </div>
                                    <div class="col">
                                        <input type="email" required class="form-control" name="email"
                                               placeholder="Email">
                                    </div>
                                </div>
                                <div class="row py-3">
                                    <div class="col-12">
                                        <textarea class="form-control" rows="7" name="comment"
                                                  placeholder="Izoh yozish..."></textarea>
                                    </div>
                                    <div class="col-12 py-3">
                                        <button type="submit" class="btn fs-5 border text-secondary px-4 btn-A">
                                            Yuborish
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-row pb-4 div">
                                <i class="fa-solid fa-house-chimney fs-4"></i>
                                <a href="https://goo.gl/maps/FozdRyGfLpjun4MA7" class="px-2 w-75 Roboto">Qashqadaryo
                                    viloyati Chiroqchi tumani</a>
                            </div>
                            <div class="d-flex flex-row pb-4 div">
                                <i class="fa-solid fa-mobile-button fs-4"></i>
                                <a href="tel:900203820" class="px-2 w-75 Roboto">{{ about.phone_number }}</a>
                            </div>
                            <div class="d-flex flex-row pb-2 div">
                                <i class="fa-solid fa-envelope fs-4"></i>
                                <a href="https://{{ about.email }}" class="px-1 w-70 Roboto"> {{ about.email }}</a>
                            </div>
                            <div class="d-flex flex-row pb-2 div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                     class="bi bi-telegram" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                                </svg>
                                <a href="https://t.me/eraliabdinazarov" class="px-1 w-70 Roboto">Telegram</a>
                            </div>
                            <div class="d-flex flex-row pb-2 div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                     class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                </svg>
                                <a href="https://github.com/eraliabd" class="px-1 w-70 Roboto">Github</a>
                            </div>
                            <div class="d-flex flex-row pb-2 div">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                     class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                </svg>
                                <a href="https://linkedin.com/in/erali-abdinazarov-23320220b/" class="px-1 w-70 Roboto">Linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact section end-->
            <footer class="bg-light text-center text-dark py-2">
                <strong><span class="Robota text-dark">&copy; Backend Erali Abdinazarov va Dizayner Boytemir Xayitmurotov,  2022</span></strong>
            </footer>
        </div>
    </div>
    </div>
</main>
<!-- Mine section end-->

<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

{#<script src="{% static 'js/index.js' %}"></script>#}
</body>
</html>